@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    /* add padding or border doesnt affect else where */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex; /* in row */
    flex-direction: column; 

    align-items: center;
    justify-content: center;
    height: 100vh; /*entire height of browser viewport */
    /* center everything */
}