body{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background-color: black;
    
}

.section-set {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;

  
    
}

button{
    
    width: 400px;
  cursor: pointer;

    font-size: x-large;
    font-family:cursive;
    background-color: skyblue;
    list-style-type: none;
    margin: 5px;
    border-radius: 2px;
    padding: 10px;
}

