body{
  margin: 0;
  background-color: white;
    
}
a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  
}
.section-set {

  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;

  
    
}

button{
  width: 350px;

  cursor: pointer;
    font-size: x-large;
    font-family:cursive;
    background-color: skyblue;
    list-style-type: none;
    border: none;
    padding: 10px;
}

img{
  
    width: 350px;
    height: 300px;
    cursor: pointer;
  }

  a{
    text-decoration: none;
    width: 350px;
    height: 350px;
    margin: 10px;
    border: 10px solid skyblue;
    height:fit-content;
  }
