body{
    overflow: hidden;

    background-color: rgb(83, 83, 232);
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5vb;
    width: 50%;
    border-radius: 10px;
}
h5{
    margin-top: -25px;
    margin-bottom: 25px;
    color: gray;
    
}

.btn{
    margin-top: 25px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(183, 128, 235);
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.btn:hover{
    background-color: rgb(83, 83, 232);
    color: white;
    cursor: pointer;
}

.btn:active{
    background-color: rgb(83, 83, 232);
    color: white;
    cursor: pointer;
}