
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    box-sizing: border-box;
}
body {
    color: white;
    background-color: rgb(33, 33, 93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}
.search{
    margin-bottom: 10vh;
}

.search input{ 
    padding: 20px;
    width: 70vw;
    border-radius: 10px;
    background-color:rgb(63, 32, 94);
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.card{
    background-color:rgb(63, 32, 94);

    border-radius: 10px;
    width: 70vw;
    padding: 50px;
    display: flex;
    flex-direction: row;


}
.user-profile {
    display: flex;
    align-items: center;
    
}
.user-profile img{
    margin-right: 23px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid  rgb(67, 67, 206);
}
.user-profile p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;

}
.user-info h2{
    margin: 0;
    
}
.user-info {
    justify-content: space-between;
    
    
}
.repos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}
li{
    list-style: none;
    display: flex;
    flex-direction: row;

    
}
.num{
    font-weight: 300;
    margin-right: 5px;
}
ul {
    padding: 0;
}
.repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(49, 28, 142);
    margin: 3px;
    padding: 4px;
}
@media (max-width : 830px) {
    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form {
        max-width: 400px;
    }
    .user-profile img{
        width: 150px;
        height: 150px;
    }
    li{
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
}
@media (max-width : 600px) {
    .card{
        width: 90vw;
    }
    
    
}