@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{
    background-color: rgb(161, 100, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: 0;  
    color: white;
    cursor: pointer;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;

}

.btn:hover{
    opacity: 0.9;
}
.btn:focus{
    outline: 0;
    
}